.item-list{
    margin: 24px 0;
}

.item-list strong{
    color: rgba(83, 155, 245, 1);
    font-size: 24px;
    margin: 24px 0;
}

.item-list p{
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    margin: 24px 0;
}